<% if archives.length > 0 %>
<h1>Archives</h1>
<ul>
  <% archives.select {|a| a[:date] <= Date.today}.each do |article| %>
  <li>
    <a href="<%= article.path %>"><%= article.title %></a>
  </li>
  <% end %>
</ul>
<% end %>
