<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/coderay.css">
    <link rel="alternate" type="application/atom+xml" title="Feed | PorterTech" href="/index.xml" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="<%= @context[:description] || @config[:description] %>" />
    <meta name="author" content="<%= @context[:author] || @config[:author] %>" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6859515-3']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ?
      'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <title><%= title %> | PorterTech</title>
  </head>
  <body>
    <a href="https://github.com/portertech"><img id="fork" src="/images/fork.png" alt="Fork me on GitHub" /></a>
    <menu>
      <a href="/archives/">archives</a>
      <a href="/index.xml" rel="alternate" type="application/atom+xml">rss</a>
      <a href="http://about.me/seanporter">whois</a>
    </menu>
    <section>
      <%= yield %>
    </section>
    <footer>
      powered by <a href="http://cloudhead.io/toto">toto</a> & <a herf="http://www.heroku.com">heroku</a>
    </footer>
  </body>
</html>
